<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>User</title>
</head>
<body>
<nav>
    <a th:href="@{/logout}">Logout</a>
</nav>
<h1>User</h1>
<div>
    <div>
        <div>
            <div>
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Role</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Age</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${user.getId()}"></td>
                            <td th:text="${user.getRoles()}"></td>
                            <td th:text="${user.getFirstName()}"></td>
                            <td th:text="${user.getLastName()}"></td>
                            <td th:text="${user.getAge()}"></td>
                            <td th:text="${user.getEmail()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>